<!DOCTYPE html>
<html>
      <head>
           <title>Task5</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
            <h2>{{>header}} </h2>
            <h2 class="hed1">{{title}} page content</h2>
            <h2><span>Country name is :</span> {{country}} </h2>
            <h2><span>Latitude is :</span> {{latitude}} </h2>
            <h2><span>Longitude is  :</span> {{longitude}} </h2>
            <h2><span>Weather is  :</span> {{weather}} </h2>
            <h2><span>Temperature is  :</span> {{temperature}} </h2>
      </body>
</html>